@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
html{
	background: black;
	scroll-behavior: smooth;
	font-family: 'Bai Jamjuree', sans-serif;
	color: white;
}
body{
    line-height: 1.75;
    text-rendering: optimizeSpeed;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	height: calc(4.5rem + 1rem);
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 0.5s ease;
	transition-property: height, background;
	z-index: 999;	
	background: rgb(191, 181, 127.75);
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}
header.sticky{
	height: calc(3.5rem + 1rem);
	background: rgb(191, 181, 127.75);
	backdrop-filter: blur(30px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0 0 30px 30px;
}
header:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, transparent, #ffd700, transparent);
}
header .brand{
	color: #fff;
	font-size: 1.7em;
	font-weight: 750;
	text-decoration: none;
	display: flex;
	align-items: center;
}
header .navigation{
	position: relative;
}
header .navigation .navigation_menu a{
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: 550;
	text-decoration: none;
	margin-left: 20px;
	transition: 0.3s ease;
	cursor: pointer;
}

header .navigation .navigation_menu a:hover{
	font-size: 1.1em;
	padding: 2px;
    border: 2px solid #ffd700;
    border-radius: 8px;
    margin: 15px;
    text-transform: bold;
	opacity: 1;
	transition: .4s ease;
}

header .navigation .navigation_menu a:hover:before{
	width: 100%;
}

.brand{
	gap: 10px;
	text-transform: uppercase;
}

@media (max-width: 1040px){
	header{
	padding: 12px 20px;
	}
	header.sticky{
	height: calc(3.5rem + 1rem);
	background: rgb(191, 181, 127.75);
	backdrop-filter: blur(30px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	}
	.home .media-icons{
		left: 90%;
	}
	header .navigation{
		display: none;
	}
	header .navigation.active{
		position: fixed;
		width: 100%;
		height: 100vh;
		right: 0;
		top:0;
		display: flex;
		align-items: center;
		background-color: rgba(1, 1, 1, 0.5);
	}
	header .navigation.active .navigation_menu a{
		color: #fff;
		font-weight: bold;
		font-size: 1.2em;
		margin: 20px;
	}
	header .navigation .navigation_menu a:before{
		background: #ffd300;
		height: 3px;
	}
	header .navigation .navigation_menu{
		background: linear-gradient(245deg, #ffd700, #000000);
	    width: 69%;
	    height: 100vh;
	    top: 0;
	    right: 0;
	    max-width: 100%;
	    padding: 100px 0 0 20px;
	    display: flex;
	    /* justify-content: center; */
	    flex-direction: column;
	    border-radius: 5px;
	    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
		}
	header .navigation .navigation_menu:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);
		
	}
	.menu{
		background: url(menu.svg)no-repeat;
		background-size: 30px;
		background-position: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
	}
	.menu.active{
		z-index: 999;
		background: url(close.svg)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: 0.3s ease;
	}

	.wiggle-btn span{
		font-size: 1em;
		font-weight: 200;
		letter-spacing: 1px;
		text-shadow: 0 5px 20px rgba(2, 2, 2, 1.0);
	}
	.wiggle-btn .btn-img{
		width: 100px;
	}
}
.layout{
	width: 100%;
}
.layout .mainlayout{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
	position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1!important;
    overflow: hidden;
    background: black;
}
.star-field1{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
   	height: calc(500vh + 500px);
    -webkit-background-clip: text;
    background-clip: text;
	animation: starsup 35s linear infinite;
    z-index: 0;
    opacity: .2;
    background: url('star2.png');
    filter: grayscale(0%) sepia(100%) hue-rotate(10deg) saturate(1000%) brightness(100%);
}
.star-field2{
	animation: starsup 25s linear infinite;
    z-index: 1;
    opacity: 1;
    background-image: url('star1.png');
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100vh + 500px);
    -webkit-background-clip: text;
    background-clip: text;
}
.star-field3{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500vh;
    
    z-index: 2;
}
@keyframes starsup{
	0% {
    	transform: translateY(0);
		}

	100% {
    	transform: translateY(-500px);
		}
}
.welmain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 3;
}
.mainimg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.venimg{
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.venimg img{
	width: 400px;
	height: 400px;
}
.venimg:hover{
	animation: rotate 3s linear;
	animation-fill-mode: forwards;
}
.welcome{
	font-size: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.1;
    z-index: 2;
    max-width: 800px;
}
.welcome span:first-child,
.welcome span:first-child:after {
    animation-delay: .5s;
}
.welcome span {
    padding: 2px;
    animation: span1 1s ease-out forwards;
    opacity: 0;
    position: relative;
    display: block;
    color: #FFF	;
    margin-left: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1 );
}
.welcome span:after {
    display: block;
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    background-color: #F6F4E6;
    animation: span2 0.5s ease-out forwards;
}
. span+span {
    margin-left: 20px;
}
.welcome span:nth-child(2), 
.welcome span:nth-child(2):after {
    animation-delay: .5s;
}

.welcome span:nth-child(3), 
.welcome span:nth-child(3):after {
    animation-delay: .8s;
}

.welcome span:nth-child(4), 
.welcome span:nth-child(4):after {
    animation-delay: 1.1s;
}

.welcome span:nth-child(5), 
.welcome span:nth-child(5):after {
    animation-delay: 1.4s;
}

@keyframes span1{
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
@keyframes span2{
	0% {
	    opacity: 1;
	}

	100% {
	    opacity: 0;
	}
}
@keyframes rotate{
	0%{
		rotate: 0deg;
	}
	100%{
		rotate: 180deg;
	}
}
@media (max-width: 765px){
	.welcome {
    font-size: 3.1rem;
 	}
}
@media (max-width: 465px){
	.venimg img{
		width: 290px;
		height: 290px;
	}
	.welcome {
    font-size: 2rem;
 	}
}

.aboutus{
	width: 90%;
	height: fit-content;
	padding: 5% 0;
	z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
.mainabout{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 40px;
	width: 100%;
	height: 5%;
	border-radius: 30px 30px 0px 0px;
	background: rgb(191, 181, 127.75);
	z-index: 3;
	border: 2px solid #ffd700;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1 );
}
.aboutcon{
	z-index: 2;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 30px 30px;
    display: grid;
    grid-template-columns: 40% 60%;
    border: 2px solid #ffd700;
}
/*.aboutcon:before{
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
}*/
.introabout{
	width: 100%;
    height: 100%;
    background: #F6E172;
    z-index: 3;
    border-radius: 0px 0 0 28px;
    border-right: 2px solid #ffd700;
    overflow: hidden;
}

.introimg{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	z-index: 5;
	padding-top: 80px;
}
.introimg h{
	color: #C89645;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5), 
        -1px -1px 1px #000, 
        1px -1px 1px #000, 
        -1px 1px 1px #000;
}
.introcontent{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 5%;
    /* margin-left: 50px; */
    color: white;
    font-size: 18px;
}
.cspan{
	font-weight: bold; font-size: 30px; margin-top: 2%; color: #F6E172;
}
@media (max-width: 950px){
	.aboutus{
		height: fit-content;
		display: flex;
		justify-content: center;
	}
	.aboutcon{
		height: fit-content;
        display: flex;
        flex-direction: column;
	}
	.introabout{
		display: none;
	}
}
@media (max-width: 600px){
	.introcontent{
	    font-size: 17px;
	}
}
@media (max-width: 485px){
	.introcontent{
	    font-size: 15px;
	}
	.cspan{
		font-size: 20px;
	}
}
.ourservices{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: fit-content;
    padding: 5% 6%;
	z-index: 2;
	background-size: cover; 
    background-position: center; 
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.ourservices:before{
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
.services{
	z-index: 3;
	display: flex;
	font-size: 40px;
	color: #F4CA26; 
	position: relative;
}
/*.services:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 28%;
	height: 2px;
	background: white;
}*/
.mainservices{
	z-index: 3;
	margin-top: 3%;
	font-size: 20px;
}
.perser{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	align-items: center;
	width: 100%; 
	height: 500px;
}
.ser1{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	width: 80%;
	height: 300px;
	background: linear-gradient(45deg, rgba(255, 229, 127, .7), rgba(255, 175, 0, 0.6));
	z-index: 3;
	border-radius: 20px 80px 20px 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
}
.ser1 h, .ser1 p{
	margin-left: 20px;
	width: 90%;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ser1 h{
	font-size: 25px;
}
.ser1 p{
	margin-top: 3%;
	color: #fff;
}

@media (max-width: 1000px){
	.services{
		display: flex;
		justify-content: flex-start;
	}
	.services:before{
		width: 100%;
	}
	.mainservices{
		display: flex;
		justify-content: center;
	}
	.perser {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: flex-start;
	    margin-top: 4%;
	    gap: 30px;
 	}
 	.ser1{
 		width: 100%;
	 	border-radius: 20px 20px 20px 20px;
	    border: 2px solid rgba(255, 255, 255, 0.7);
	}
}
@media (max-width: 515px){
	.ourservices{
		height: auto;
		padding: 30px 0px;
	}
	.services{
		display: flex;
		justify-content: flex-start;
		font-size: 30px;
	}
	.mainservices{
		font-size: 15px;
		justify-content: flex-start;
		text-align: left;
	}
	.perser{
		height: 100%;
	}
	.ser1{
		width: 100%;
		height: auto;
    	padding: 20px;
	}
	.ser1 h{
		font-size: 18px;
	}
	.ser1 p{
		font-size: 13px;
	}
}
.ourprofolio{
	padding: 10% 6%;
	display: flex;
	justify-content: center;
    z-index: 3;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
}
.profolio{
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	padding-bottom:	3%;
	/*background-image: url('hexligan1.png');*/
	background-size: cover; 
    background-position: center; 
    border-radius: 30px;
    position: relative;
}
.profolio:before{
	content: '';
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: center;
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    padding: 0 3%;
    height: -webkit-fill-available;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);;
}
.promain{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	align-items: center;
}
.promain{
	z-index: 4;
	width: 100%;
}
.procon{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
}

.procon h{
	color: #F4CA26;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	
	text-shadow: 
        1px 1px 1px rgba(0, 0, 0, 0.5), 
        -1px -1px 1px #000, 
        1px -1px 1px #000, 
        -1px 1px 1px #000;
}


.procon p{
	width: 90%;
	text-align: center;
	color: white;
	font-size: 15px;
	text-shadow: 
        1px 1px 1px rgba(0, 0, 0, 1), 
        -1px -1px 1px #000, 
        1px -1px 1px #000, 
        -1px 1px 1px #000;
}
.pros{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	margin-top: 3%;
}
.profolioimg{
	display: flex;
	justify-content: center;
	width: 90px; 
    height: 90px;
    border-radius: 50%; 
    overflow: hidden;
    border: 4px solid rgba(255, 229, 127, 1);
}
.profolioimg img{
	width: 100%;
    height: auto;
    display: block;
}

.profoimg{
	overflow: hidden;
	object-fit: cover;
	display: flex; 
	justify-content: center;
}

@media (max-width: 1024px){
	.promain{
		display: flex;
		flex-direction: column;
	}
	.procon{
		margin-left: 0;
	}
}

@media (max-width: 950px){
	.profoimg img{
		display: none;
	}
}
.ourmedia{
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	padding: 6%;
}
.media{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.media h{
	z-index: 5;
	display: flex;
	font-size: 50px;
	color: #F4CA26;
	position: relative;
	font-weight: bold;

}
.media h:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}
.media p{
	text-align: center;
	width: 100%;
	margin-top: 1%;
}
@media (max-width: 427px){
	.ourmedia{
		height: fit-content;
	}
}

@media (max-width: 550px){
	.media p{
		width: 100%;
	}
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 900px;
	margin: auto;
	z-index: 3;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: white;
	z-index: 3;
	font-size: 30px;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color:  #F4CA26;
	border: 1px solid #F4CA26;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/



.ventures69{
	z-index: 3;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 25px;
}	
.footer{
	width: 80%;
}
.gridmenu{
	display: grid;
	grid-template-columns: 50% 30% 20%;
}
.brandz{
	display: flex;
	flex-direction: column;
}
.venturesintro{
	display: flex;
	align-items: center;
}
.venturesintro img{
	width: 70px;
	height: 70px;
}
.venturesintro h{
	font-size: 24px;
	color: white;
}
.hidenprofit{
	width: 80%;
	color: white;
	line-height: 25px;
	font-size: 16px;
	opacity: 0.9;
}
.footerproduct{
	display: flex;
	flex-direction: column;
}
.fpro{
	display: flex;
	align-items: center;
	height: 70px;
	color: white;
	font-size: 30px;
}
.apro{
	display: flex;
	flex-direction: column;
}
.apro a{
	font-size: 15px;
	text-decoration: none;
	line-height: 30px;
	color: white;
	cursor: pointer;
}
.apro a:hover{
	color: orange;
}

.alls{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: auto;
	font-size: 16px;
	margin-top: 3%;
}

@media (max-width: 810px){
	.ventures69{
		height: auto;
	}
	.gridmenu{
		display: flex;
		flex-direction: column;
	}
	.hidenprofit{
		width: 100%;
	}
	.footer{
	width: 90%;
	}
	.fpro{
		align-items: flex-end;
		height: 80px;
	}
}

.allss{
	width: 100%;
	background: black;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: auto;
	font-size: 16px;
}

.charity{
	width: 100%;
	overflow: hidden;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.bg-charity{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	z-index: 1;
	position: relative;
    display: block;
   	width: 99%;
   	height: fit-content;
    padding: 0 0 2% 0;
}

.table-title {
	text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
}
.no-grid-table {
    border-radius: 11px;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    }
.no-grid-table th, .no-grid-table td {
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #dee2e6;
}
.no-grid-table th {
    font-family: Arial, sans-serif;
    background-color: #066a9c;
}
.no-grid-table tr:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.truncate {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis; 
	white-space: nowrap;
}
.truncate a:hover {
    display: block; 
    background-color: rgba(255, 193, 7, 0.3);
    border: 1px dashed #ffc107;
    border-radius: 11px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.align {}
.pagination {
    text-align: center;
    margin-top: 20px;
    display: block;
}
.pagination span {
    color: #6c757d;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
}
.pagination button {
   	color: #0784c3;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
}
.pagination button:hover{
    color: #fff;
    background-color: #066a9c;
    border: 1px solid #066a9c;
}
.tx-link {
    color: #0dcaf0;
    text-decoration: none;
    display: block;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
thead, tbody{
    font-size: 15px;
}

@media (max-width: 450px) {
  th:nth-child(3),
  td:nth-child(3) {
    display: none;
  }
}


.cetificated{
	z-index: 3;
}

